#darkTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
  }
#darkTable td, #darkTable th {
    border: 1px solid #2D2E2E;
    padding: 8px;
  }

#darkTable tr:nth-child(even){background-color: #2D2E2E}

#darkTable tr:hover {border: 2px solid #333333; background-color: #27AE60;}

#darkTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5D9CEC;
    color: white;
  }
