@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
#logo {
    margin: 50px;
    padding: 30%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-shadow: #EDEDED 3px 2px 0;
  position: absolute center;
}
body{
    background-color: #354664;
}
.flex-container {
  display: flex;
  background-color: #354664;
}

.flex-container > div {
  background-color: #E7E3FF;/*#f1f1f1;*/
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width: 50%;
}

.form-horizontal .Inpic ,.form-horizontal .Outpic{
    width: 50%; 
    height: 100%;
    margin: 0 auto 10px;
    position: center;
}
.form-horizontal .Inpic >img ,.form-horizontal .Outpic >img{
    width:300px;
    height:300px;
    margin: 0 auto 10px;
    position: center;
}
.tapout, .tapin{
    height: 100%;
}

.form-horizontal .form-group{
    width: 40%;
    margin: 0 auto 10px;
    position: relative;
}

.form-horizontal .form-control{
    color: #3FA9F2;
    font-size: 14px;
    height: 42px;
    padding: 6px 8px 6px 40px;
    box-shadow: none;
    border-radius: 0;
}
.form-control::placeholder{
    color: rgba(0,0,0,0.2);
    font-size: 15px;
    text-transform: uppercase;
}
.form-horizontal .form-control:focus{
    box-shadow: none;
    border-color: #3FA9F2;
}


.form-horizontal .btn{
    color: #fff;
    background-color: #3FA9F2;
    font-size: 16px;
    padding: 7px 30px;
    margin: 0 0 10px;
    border-radius: 25px;
    border: 2px solid transparent;
    display: inline-block;
    float: left;
    transition: all 0.5s;
}

.form-horizontal .btn:focus,
.form-horizontal .btn:hover{
    color: #3FA9F2;
    background-color: #fff;
    border: 2px solid #3FA9F2;
}
@media screen and (max-width:576px) {
    .form-horizontal .form-group .btn,
    .form-horizontal .form-group{
        text-align: center;
        display: block;
        float: none;
        margin: 0 auto 15px;
    }
}

