body{
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.header-slider,
.carousel-inner,
.carousel-item {
    height: 100vh;
}

.header-about {
    position: absolute;
    color: white;
    z-index: 3;
    height: 100%;
    display: flex;
    right: 0;
    top: 0;
    left: 0;

}

.carousel-item .item-1,
.carousel-item .item-2,
.carousel-item .item-3,
.carousel-item .item-4,
.carousel-item .item-5,
.carousel-item .item-6 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-item .item-1 {
    background-image: url('img/img-1.JPG');
}

.carousel-item .item-2 {
    background-image: url('img/img-2.JPG');
}

.carousel-item .item-3 {
    background-image: url('img/img-3.JPG');
}

.carousel-item .item-4 {
    background-image: url('img/img-4.jpg');
}

.carousel-item .item-5 {
    background-image: url('img/img-5.JPG');
}

.carousel-item .item-6 {
    background-image: url('img/img-6.JPG');
}